<div class="game-page">
  <div class="content">
    <section class="actions">
      <button>MENU</button>
      <img src="assets/images/logo.svg" alt="logo app">
      <button>RESTART</button>
    </section>
    <section class="score-mobile">
      <div class="player player-one hide-for-desktop">
        <svg xmlns="http://www.w3.org/2000/svg" width="54" height="59" viewBox="0 0 54 59" fill="none">
          <circle cx="27" cy="27" r="27" transform="matrix(-1 0 0 1 54 0)" fill="black"/>
          <circle cx="27" cy="27" r="27" transform="matrix(-1 0 0 1 54 5)" fill="black"/>
          <circle cx="24" cy="24" r="24" transform="matrix(-1 0 0 1 51 3)" fill="#FD6687"/>
          <path
            d="M12.75 25.25C12.75 32.7058 18.7942 38.75 26.25 38.75C33.7058 38.75 39.75 32.7058 39.75 25.25H36.75C36.75 31.049 32.049 35.75 26.25 35.75C20.451 35.75 15.75 31.049 15.75 25.25H12.75Z"
            fill="black"/>
          <path d="M30 17V22.9844H33V17H30Z" fill="black"/>
          <path d="M20 17V22.9844H23V17H20Z" fill="black"/>
        </svg>
        <span class="name">YOU</span>
        <span class="win">12</span>
      </div>
      <div class="player player-two hide-for-desktop">
        <svg width="54px" height="59px" viewBox="0 0 54 59" xmlns="http://www.w3.org/2000/svg">
          <title>cpu</title>
          <g id="Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="cpu">
              <circle id="Oval-Copy-21" fill="#000000"
                      transform="translate(27.000000, 27.000000) scale(-1, 1) translate(-27.000000, -27.000000) "
                      cx="27" cy="27" r="27"></circle>
              <circle id="Oval-Copy-40" fill="#000000"
                      transform="translate(27.000000, 32.000000) scale(-1, 1) translate(-27.000000, -32.000000) "
                      cx="27" cy="32" r="27"></circle>
              <circle id="Oval-Copy-11" fill="#FFCE67"
                      transform="translate(27.000000, 27.000000) scale(-1, 1) translate(-27.000000, -27.000000) "
                      cx="27" cy="27" r="24"></circle>
              <g id="Group-8" transform="translate(15.000000, 18.000000)" stroke="#000000" stroke-width="3">
                <g id="Group-10">
                  <line x1="14.5" y1="0.5" x2="20.5" y2="0.5" id="Path-Copy"></line>
                  <line x1="3.5" y1="0.5" x2="9.5" y2="0.5" id="Path-Copy-2"></line>
                  <line x1="0" y1="7.5" x2="24" y2="7.5" id="Path-2"></line>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <span class="name">CPU</span>
        <span class="win">23</span>
      </div>
    </section>
    <section class="game">
      <div class="player player-one hide-for-mobile-and-tablet">
        <svg xmlns="http://www.w3.org/2000/svg" width="54" height="59" viewBox="0 0 54 59" fill="none">
          <circle cx="27" cy="27" r="27" transform="matrix(-1 0 0 1 54 0)" fill="black"/>
          <circle cx="27" cy="27" r="27" transform="matrix(-1 0 0 1 54 5)" fill="black"/>
          <circle cx="24" cy="24" r="24" transform="matrix(-1 0 0 1 51 3)" fill="#FD6687"/>
          <path
            d="M12.75 25.25C12.75 32.7058 18.7942 38.75 26.25 38.75C33.7058 38.75 39.75 32.7058 39.75 25.25H36.75C36.75 31.049 32.049 35.75 26.25 35.75C20.451 35.75 15.75 31.049 15.75 25.25H12.75Z"
            fill="black"/>
          <path d="M30 17V22.9844H33V17H30Z" fill="black"/>
          <path d="M20 17V22.9844H23V17H20Z" fill="black"/>
        </svg>
        <span class="name">YOU</span>
        <span class="win">12</span>
      </div>
      <div class="board">
        <picture class="white-board">
          <source media="(min-width: 768px)" srcset="assets/images/board-layer-white-large.svg" />
          <source media="(max-width: 767px)" srcset="assets/images/board-layer-white-small.svg" />
          <img class="board-img white-board-img" src="assets/images/board-layer-white-small.svg" alt="game board picture">
        </picture>
        <div class="board-grid">
          <div class="grid__column">
            <img class="c1r1" src="assets/images/counter-yellow-small.svg" alt="yellow disc">
            <img class="c1r2" src="assets/images/counter-yellow-small.svg" alt="yellow disc">
            <img class="c1r3" src="assets/images/counter-yellow-small.svg" alt="yellow disc">
            <img class="c1r4" src="assets/images/counter-yellow-small.svg" alt="yellow disc">
            <img class="c1r5" src="assets/images/counter-yellow-small.svg" alt="yellow disc">
            <img class="c1r6" src="assets/images/counter-yellow-small.svg" alt="yellow disc">
          </div>
          <div class="grid__column"></div>
          <div class="grid__column"></div>
          <div class="grid__column"></div>
          <div class="grid__column"></div>
          <div class="grid__column"></div>
          <div class="grid__column"></div>
        </div>
        <picture class="black-board">
          <source media="(min-width: 768px)" srcset="assets/images/board-layer-black-large.svg" />
          <source media="(max-width: 767px)" srcset="assets/images/board-layer-black-small.svg" />
          <img class="board-img black-board-img" src="assets/images/board-layer-black-small.svg" alt="game board picture">
        </picture>
        <div class="turn-info">
          <div class="text">
            <p>YOUR TURN</p>
            <p>15s</p>
          </div>
          <img src="assets/images/turn-background-red.svg" alt="shape">
        </div>
      </div>
      <div class="player player-two hide-for-mobile-and-tablet">
        <svg width="54px" height="59px" viewBox="0 0 54 59" xmlns="http://www.w3.org/2000/svg">
          <title>cpu</title>
          <g id="Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="cpu">
              <circle id="Oval-Copy-21" fill="#000000"
                      transform="translate(27.000000, 27.000000) scale(-1, 1) translate(-27.000000, -27.000000) "
                      cx="27" cy="27" r="27"></circle>
              <circle id="Oval-Copy-40" fill="#000000"
                      transform="translate(27.000000, 32.000000) scale(-1, 1) translate(-27.000000, -32.000000) "
                      cx="27" cy="32" r="27"></circle>
              <circle id="Oval-Copy-11" fill="#FFCE67"
                      transform="translate(27.000000, 27.000000) scale(-1, 1) translate(-27.000000, -27.000000) "
                      cx="27" cy="27" r="24"></circle>
              <g id="Group-8" transform="translate(15.000000, 18.000000)" stroke="#000000" stroke-width="3">
                <g id="Group-10">
                  <line x1="14.5" y1="0.5" x2="20.5" y2="0.5" id="Path-Copy"></line>
                  <line x1="3.5" y1="0.5" x2="9.5" y2="0.5" id="Path-Copy-2"></line>
                  <line x1="0" y1="7.5" x2="24" y2="7.5" id="Path-2"></line>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <span class="name">CPU</span>
        <span class="win">23</span>
      </div>
    </section>
  </div>
</div>
