@import "colors";

@mixin app-border-style {
  border: 3px solid $Black;
  border-radius: 20px;
  box-shadow: 1px 10px 1px $Black;
}

@mixin app-score-card-base {
  @include app-border-style;
  width: toRem(142, 16);
  height: toRem(81, 16);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $White;
  padding: toRem(10, 16) 0;
  @include breakpoint-up(medium) {
    flex-direction: row;
    justify-content: space-between;
    width: toRem(272, 16);
    height: toRem(100, 16);
  }
}
